apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-nxrtbkmi
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-nxrtbkmi:bd76e8cf1386d6938f8e893a7c9189c564d3f768@sha256:da2a03503d842e7555c4bc27a275d9d8b546d055120d614a456930f9ae2375f9
        name: container-image  
